.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    background-image: url("../Data/Home/bg3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    

    
}
/* @media only screen and (max-height: 1216px) {
    .home-container  {
    background-size: 100% 52%;
    }
    } */